@media screen and (min-width:767px) and (max-width:960px){
    .nav{
        display: none;
    }
    .mobile-menu{
        display: block;
        top: 1.5rem;
    }
    .closebtn {
        top: 1.5rem;
        right: 8rem;
    }
    .download-section {
        background: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,.5)),to(rgba(255,255,255,.5))),url(..//img/image5.png);
        background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)),url(..//img/image5.png);
    }
    .col-8 {
        width: 100%;
    }
}

/* FOR IPAD TABLETE */
@media screen and (min-width:601px) and (max-width:768px) {
    h1{
        font-size: 4.2rem;
    }
    h2{
        font-size: 2.8rem;
    }
    h3{
        font-size: 1.8rem;
    }
    .header{
        height: 10vh;
        padding: 0 6rem;
    }
    .nav{
        display: none;
    }
    .mobile-menu{
        display: inline-block;
        right: 6rem;
    }
    .closebtn {
        right: 6rem;
    }
    .heading-banner img {
        width: 30rem;
    }
    .heading-text a {
        display: block;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .stikey{
        display: none;
    }
    .feature-heading{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
    .feature-banner img {
        width: 30rem;
    }
    .feture-text-p {
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .feature-service {
        margin-bottom: 2rem;
    }
    .programming-img img {
        width: 30rem;
    }
    .build-img img {
        width: 23rem;
    }
    .build-img {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .clint-hero {
        display: block;
    }
    .clint-img {
        width: 100%;
        text-align: center;
        margin-bottom: 4rem;
    }
    .clint-text {
        width: 100%;
        text-align: center;
    }
    .col-8 {
        width: 100%;
    }
    .download-section {
        background: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,.5)),to(rgba(255,255,255,.5))),url(..//img/image5.png);
        background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)),url(..//img/image5.png);
    }
}

/* FOR MOBILE */
@media screen and (min-width:360px) and (max-width:600px){
    h1{
        font-size: 3.2rem;
    }
    h2{
        font-size: 2.4rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .header{
        height: 8vh;
        padding: 0 1rem;
    }
    .nav{
        display: none;
    }
    .mobile-menu{
        display: inline-block;
        right: 1rem;
        top: 1rem;
    }
    .closebtn {
        right: 1rem;
        top: 1rem;
    }
    .span_1_of_2 {
        width: 100%;
    }
    .banner-hero {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 3rem;
    }
    .heading-banner {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .heading-banner img {
        width: 30rem;
    }
    .heading-text {
        margin-bottom: 6rem;
    }
    .heading-text a {
        display: block;
        margin-top: 2rem;
        margin-left: .6rem;
    }
    .brand-hero img {
        width: 5rem;
    }
    .feature-hero {
        display: block;
    }
    .feture-text-p {
        margin-bottom: 3rem;
    }
    .feature-banner img {
        width: 30rem;
    }
    .feature-service {
        margin-bottom: 2.5rem;
    }
    .payment-hero {
        display: block;
    }
    .payment-hero h2 {
        border-right: none;
        border-bottom: 1px solid gray;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    .payment-method {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
    .paymethod {
        margin-top: 3rem;
        width: 100%;
    }
    .icon-align {
        margin-bottom: 1rem;
    }
    .paymethod p{
        margin-top: 1rem;
    }
    .programming-hero {
        display: block;
    }
    .programming-img img {
        width: 30rem;
        margin-bottom: 2rem;
    }
    .phasalitys {
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }
    .phasality h3, .phasality p {
        margin-top: 1rem;
    }
    .build-hero {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .build-img {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        margin-top: 2rem;
    }
    .build-img img{
        width: 30rem;
    }
    .build-text {
        width: 100%;
    }
    .build-services {
        display: block;
        margin-top: 3rem;
        text-align: center;
    }
    .build-service {
        margin-top: 1rem;
    }
    .shop-btn {
        text-align: center;
        margin-top: 4rem;
        padding: 2rem;
    }
    .shop-btn button {
        margin-top: 2rem;
        display: block;
        text-align: center;
    }
    .shop {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .subcribtion {
        display: block;
        margin-top: 0;
    }
    .subcribtion:hover {
        margin-top: 0;
        margin-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .clint-hero {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .clint-img img {
        width: 30rem;
        margin-bottom: 2rem;
    }
    .clint {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .about-clint {
        width: 100%;
    }
    .clint-btn{
        text-align: center;
        width: 100%;
    }
    .help-txt {
        width: 100%;
    }
    .download-section {
        background: -webkit-gradient(linear,left top, left bottom,from(rgba(255,255,255,.5)),to(rgba(255,255,255,.5))),url(..//img/image5.png);
        background: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)),url(..//img/image5.png);
        background-position: center center;
    }
    .download-hero a {
        margin-bottom: 1rem;
    }
    .footer-nav{
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}