/* ================
GLOBAL COMPONANTS
================ */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
}
:root{
    --background: #ffffff;
    --headingColor: #242f51;
    --pColor: #616368;
    --aColor: #242f51;
    --aHvColor: #fcae61;
    --white: #ffffff;
    --btnBackground: #2500f9;
    --btnBackgroundHv: #1f00cc;
}
h1{
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.25;
    color: var(--headingColor);
}
h2{
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--headingColor);
    line-height: 1.27;
}
h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--headingColor);
    line-height: 1.9;
}
p{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--pColor);
    line-height: 1.6;
}
a{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--aColor);
}
.glob-btn{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--btnBackground);
    border: none;
    border-radius: 3rem;
    padding: 2rem 4rem;
    -webkit-transition: .5s;
    transition: .5s;
}
.glob-btn:hover{
    cursor: pointer;
    background-color: var(--btnBackgroundHv);
}
.row{
    width: min(96%, 110rem);
    margin: 0 auto;
    padding: 6rem 0;
}

/* ================
HEADER AREA
================ */
.header{
    width: 100%;
    height: 15vh;
    padding: 0 10rem;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
@media screen and (min-width:1600px) {
    .row{
        width: min(96%, 160rem);
    }
    .header{
        padding: 0 20rem;
    }
    .header .glob-btn{
        margin-left: 2rem;
    }
    .banner-section .row{
        margin: 0 auto;
        padding: 10rem 0 !important;
    }
    .brand-text{
        margin-bottom: 6rem !important;
    }
}
.logo {
    width: 20%;
}
.nav {
    width: 80%;
}
.nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: right;
    -ms-flex-pack: right;
    justify-content: right;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}
.nav ul li a{
    text-decoration: none;
    -webkit-transition: .5s;
    transition: .5s;
}
.nav ul li a:hover{
    color: var(--aHvColor);
}
.mobile-menu{
    font-size: 2.4rem;
    position: absolute;
    top: 2.8rem;
    right: 10rem;
    display: none;
}
.menulist{
    color: var(--headingColor);
    display: inline-block;
    padding: .3rem;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}
.menulist:hover{
    background-color: #f1f1f1;
    color: var(--aHvColor);
    -webkit-box-shadow: 2px -2px 4px rgba(0,0,0,.3),-2px 2px 4px rgba(0,0,0,.3);
    box-shadow: 2px -2px 4px rgba(0,0,0,.3),-2px 2px 4px rgba(0,0,0,.3);
}
.header .sidenav{
    width: 0%;
    height: 100%;
    background: var(--white);
    -webkit-box-shadow: 2px -2px 8px rgba(0,0,0,.3),-2px 2px 4px rgba(0,0,0,.3);
    box-shadow: 2px -2px 8px rgba(0,0,0,.3),-2px 2px 4px rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 6rem;
    overflow-x: hidden;
    z-index: 99999;
    -webkit-transition: .5s;
    transition: .5s;
}
.header .sidenav a{
    color: var(--aColor);
    text-decoration: none;
    display: block;
    padding: 3rem 0rem 3rem 3rem;
    -webkit-transition: .5s;
    transition: .5s;
}
.header .sidenav a:hover{
    color: var(--aHvColor);
    background-color: #f1f1f1;
}
.closebtn{
    position: absolute;
    top: 2.8rem;
    right: 10rem;
    display: inline-block;
    padding: .2rem .5rem !important;
    font-size: 3rem !important;
    -webkit-transition: .5s;
    transition: .5s;
}
.closebtn:hover{
    background-color: #f1f1f1;
    -webkit-box-shadow: 2px -2px 4px rgba(0,0,0,.3),-2px 2px 4px rgba(0,0,0,.3);
    box-shadow: 2px -2px 4px rgba(0,0,0,.3),-2px 2px 4px rgba(0,0,0,.3);
}
/* ================
BANNER SECTION
================ */
.banner-section{
    width: 100%;
    background-color: #ffffff;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-section .row{
    padding: 0;
}
.banner-hero{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.heading-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hide-text{
    display: block;
    margin-bottom: 3rem;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}
.hide-text input[type="checkbox"]{
    position: relative;
    width: 0;
    height: 4rem;
    background: #e2eaed;
    -webkit-appearance: none;
    border-radius: 2rem;
    outline: none;
}
.checkbox-icon{
    font-size: 3.6rem;
    position: absolute;
    left: 0;
    top: .2rem;
    color: var(--aHvColor);
    background-color: var(--white);
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 1;
}
.checkbox-icon:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    cursor: pointer;
}
.hide-text input[type="checkbox"]{
    position: relative;
}
label{
    position: absolute;
    left: 4rem;
    top: 1.3rem;
    font-size: 1.5rem;
    color: var(--aColor);
    pointer-events: none;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
}
.heading-text .banner-p{
    margin-top: 4rem;
}
.heading-text button{
    margin-top: 4rem;
    margin-right: 2rem;
}
.heading-text a{
    text-decoration: none;
    color: var(--btnBackground);
    -webkit-transition: .5s;
    transition: .5s;
}
.heading-text a:hover{
    text-decoration: none;
    color: var(--aHvColor);
}
.heading-banner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* ================
BRAND SECTION
================ */
.brand-section{
    width: 100%;
    background: var(--background);
}
.brand-text{
    text-align: center;
    margin-bottom: 3.5rem;
}
.brand-hero{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* ================
FEATURE SECTION
================ */
/* STIKEY MENU */
.stikey{
    position: fixed;
    top: 0;
    height: 10vh;
}
.feature-section{
    width: 100%;
    background: var(--background);
}
.feature-heading{
    text-align: center;
}
.feature-hero{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.feature-banner, .feature-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.feture-text-p{
    margin-top: 3rem;
    margin-bottom: 9rem;
}
.feature-service{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 6.5rem;
}
.feature-service:last-of-type{
    margin-bottom: 0;
}
.icon_1, .icon_2, .icon_3, .payback_1, .payback_2, .payback_3,.picon, .bicon{
    font-size: 6rem;
    padding: 1.5rem;
    border-radius: 50%;
}
.icon_1, .payback_1{
    background-color: #ffecef;
}
.icon_2, .payback_2{
    background-color: #f4f4ff;
}
.icon_3, .payback_3{
    background-color: #e4ffee;
}
.icolor_1, .payColor_1{
    color: #f55767;
}
.icolor_2, .payColor_2{
    color: #2563ff;
}
.icolor_3, .payColor_3{
    color: #40975f;
}
.icon-txt p{
    margin-top: 0rem;
}

/* ================
PAYMENT SECTION
================ */
.payment-hero{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.payment-hero h2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-right: 1px solid grey;
}
.payment-hero p, .paymethod{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.payment-method{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 11rem;
}
.icon-align{
    display: inline-block;
    margin-bottom: 3.5rem;
}
.paymethod p{
    margin-top: 2rem;
}

/* ================
PROGRAMMING SECTION
================ */
.programming-section{
    background-color: var(--background);
    border-bottom: 1px solid #f4f4f4;
}
.programming-hero{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.programming-img, .programming-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.programming-text p{
    margin-top: 3rem;
}
.programming-text button{
    margin-top: 4rem;
}
/* ================
PHASALITY SECTION
================ */
.phasality-section{
    background-color: var(--background);
}
.phasality-hero{
    text-align: center;
}
.phasality-hero-p{
    margin-top: 3.5rem;
}
.phasalitys{
    margin-top: 9rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
}
.picon{
    color: var(--headingColor);
    display: inline-block;
}
.picon_1{
    background-color: #ffecef;
}
.picon_2{
    background-color: #eaf9ff;
}
.picon_3{
    background-color: #fff6d3;
}
.picon_4{
    background-color: #e4ffee;
}
.picon_5{
    background-color: #f4f4ff;
}
.picon_6{
    background-color: #fdeee4;
}
.phasality h3{
    margin-top: 3.5rem;
}
.phasality p{
    margin-top: 2rem;
}
/* ================
BUILD SECTION
================ */
.build-heading{
    text-align: center;
}
.build-hero{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.build-text{
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.build-txt-p{
    margin-top: 3rem;
}
.build-services{
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    grid-gap: 5rem;
}
.build-img{
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bicon{
    color: var(--headingColor);
    display: inline-block;
}
.b_i_color_1{
    background-color: #ffecef;
}
.b_i_color_2{
    background-color: #e4ffee;
}
.b_i_color_3{
    background-color: #fff6d3;
}
.b_i_color_4{
    background-color: #f4f4ff;
}
.build-text button{
    margin-top: 5.5rem;
}

/* ================
SHOP SECTION
================ */
.shop-section{
    background: var(--background);
    border-bottom: 2px solid #ebebeb;
}
.shop-hero{
    text-align: center;
}
.shop-heading p{
    margin-top: 3.5rem;
}
.shop{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.shop-btn{
    margin-top: 8.5rem;
    border: .2rem solid #ebebeb;
    padding: .5rem;
    display: inline-block;
    border-radius: 3rem;
    background-color: var(--white);
}
.shop-btn button{
    background-color: var(--white);
    color: var(--pColor);
    font-weight: 400;
}
.shop-btn button:hover{
    background-color: #ffffff;
}
.shop{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 4rem;
}
.subcribtion{
    width: 30rem;
    border: 2px solid #ebebeb;
    border-radius: .3rem;
    -webkit-transition: .5s;
    transition: .5s;
}
.subcribtion:hover{
    -webkit-box-shadow: 2px -2px 100px rgba(0,0,0,.1),-2px 2px 100px rgba(0,0,0,.1);
    box-shadow: 2px -2px 100px rgba(0,0,0,.1),-2px 2px 100px rgba(0,0,0,.1);
    margin-top: -1rem;
    margin-bottom: 1rem;
}
.subcribtion-top{
    background-color: #f4f7f9;
    padding: 4rem 2rem;
}
.subcribtion-top h1 span{
    font-size: 1.6rem;
    font-weight: 400;
}
.subcribtion-bottom{
    background-color: var(--white);
    padding: 4rem 2rem;
}
.subcribtion-bottom button{
    margin-top: 4rem;
}
.subcribtion-bottom a{
    display: inline-block;
    margin-top: 3rem;
    text-decoration: none;
    color: var(--btnBackground);
    -webkit-transition: .5s;
    transition: .5s;
}
.subcribtion-bottom a:hover{
    color: var(--aHvColor);
}


/* ================
CLINT SECTION
================ */
.clint-hero{
    background-color: var(--background);
}
.clint-hero{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.clint-txt-p1{
    margin-top: 3rem;
}
.clint-rating{
    margin-top: 4.5rem;
    margin-bottom: 2.5rem;
    color: var(--aHvColor);
}
.clint-txt-p2{
    margin-top: 3.5rem;
    margin-bottom: 6rem;
}
.clint{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.about-clint{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}
.clint-btn a{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 2rem;
    color: #ebebeb;
    border: 2px solid #ebebeb;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 50%;
    -webkit-transition: .5s;
    transition: .5s;
}
.clint-btn span{
    border-right: 2px solid #ebebeb;
    font-size: 2rem;
}
.clint-btn a:hover{
    color: var(--btnBackground);
    background-color: #eff3f8;
    border: 2px solid #eff3f8;
}

/* ================
HELP SECTION
================ */
.help-area{
    border-bottom: 2px solid #ebebeb;
}
.help-heading{
    text-align: center;
}
.help-heading p{
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.help-txt{
    margin: 0 auto;
}
.helpFQ{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.FQopen{
    cursor: pointer;
}
.help-txt-up{
    background-color: #f5f7fa;
    padding: 4rem;
}
.helpFQ{
    background-color: #f5f7fa;
    padding: 2rem 4rem;
    margin-top: 1rem;
}

/* ================
DOWNLOAD SECTION
================ */
.download-section{
    background: url(..//img/image5.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
}
.download-hero h2{
    margin-top: 4.5rem;
}
.download-hero p{
    margin-top: 4.5rem;
    margin-bottom: 5rem;
}
.download-hero a{
    display: inline-block;
    margin-right: 2rem;
}
/* ================
FOOTER SECTION
================ */
.footer-section{
    background: #09142e;
}
.footer-hero{
    text-align: center;
}
.footer-logo{
    margin-top: 7rem;
}
.footer-nav{
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 2rem;
}
.footer-nav a{
    text-decoration: none;
    color: var(--white);
    display: inline-block;
    -webkit-transition: .5s;
    transition: .5s;
}
.footer-nav a:hover{
    color: var(--aHvColor);
}
.social-icon{
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
}
.social-icon a{
    color: var(--pColor);
    -webkit-transition: .5s;
    transition: .5s;
}
.social-icon a:hover{
    color: var(--white);
}
.copyright p{
    font-size: 1.4rem;
    margin-top: 8rem;
}
